<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
	
	.space{
			
			padding:80px;
	
	}


    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Pro Automation Pvt. Ltd</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
          </ul>
          <span class="navbar-text">
           user_name
           <button href="#" type="button" class="btn btn-danger" style="color:'white'">Logout</button>
          </span>
        </div>
      </nav>

       <div class="container-fluid">
           <div class="row" style="display: flex;">
               <div class="col-mg-2" style="justify-content: flex-start">
                    <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a
          href="#"
          class="list-group-item list-group-item-action py-2 ripple "
          aria-current="true"
        >
          <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main dashboard</span>
        </a>
        <a th:href="@{add_customer}" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-chart-area fa-fw me-3"></i><span>Add Customers</span>
        </a>
        <a th:href="@{add_services}" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fas fa-chart-line fa-fw me-3"></i><span>Add Services</span></a
        >
        <a th:href="@{add_vehicle}" class="list-group-item list-group-item-action py-2 ripple active">
          <i class="fas fa-chart-pie fa-fw me-3"></i><span>Add Vehicles</span>
        </a>
      </div>
    </div>
  </nav>
               </div>

               <div class="col-mg-10" style="margin: 20px 0px 0px 20px;" >
               			<div class="row">
               				<div class="col-mg-3 space">
               							
               					 <h1>Add Vehicle</h1>
                <form th:action="@{/vehicle_added}" th:object="${vehicle}" method="post">
                    <div class="form-group">
                        <label for="cars">Customer ID :</label>
	                         <select class="form-select form-select-lg mb-3" th:field="*{customer.customer_id}">
	                         <option th:each="customer : ${customers}" th:text="${customer.customer_id}" th:value="${customer.customer_id}"></option>
	                         </select>
                      </div>
                    <div class="form-group">
                      <input type="text" class="form-control"  placeholder="Enter Vehicle Number" th:field="*{vehicle_number}">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control"  placeholder="Enter Vehicle Type" th:field="*{vehicle_type}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter Vehicle Description" th:field="*{vehicle_desciption}">
                      </div>
                      
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter Vehicle Service status" th:field="*{vehicle_service_status}">
                      </div>
                      
                    <button type="submit" class="btn btn-success">Add</button>
                  </form>
               				
               				</div>
               				
               				<div class="col-mg-3 space">
               					 <h1>Update Vehicle</h1>
                <form th:action="@{/vehicle_added}" th:object="${vehicle}" method="post">
                    <div class="form-group">
                    
                    
                    
                     <label for="cars">Vehicle ID :</label>
	                          <select class="form-select form-select-lg mb-3">
	                         <option th:each="vehicles : ${vehicles}" th:text="${vehicles.vehicle_id}" th:value="${vehicles.vehicle_id}"></option>
	                         </select> <br>
                    
                    <!--     <label for="cars">Customer ID :</label>
	                         <select class="form-select form-select-lg mb-3" th:field="*{customer.customer_id}">
	                         <option th:each="customer : ${customers}" th:text="${customer.customer_id}" th:value="${customer.customer_id}"></option>
	                         </select>  -->
	                         
	                        
	                         
                      </div>
                    <div class="form-group">
                      <input type="text" class="form-control"  placeholder="Enter Vehicle Number" th:field="*{vehicle_number}">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control"  placeholder="Enter Vehicle Type" th:field="*{vehicle_type}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter Vehicle Description" th:field="*{vehicle_desciption}">
                      </div>
                      
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter Vehicle Service status" th:field="*{vehicle_service_status}">
                      </div>
                      
                    <button type="submit" class="btn btn-warning">Update</button>
                  </form>
               				
               				</div>
               			
               				<div class="col-mg-3 space">
               						
               						 <h1>Delete Vehicle</h1>
                <form th:action="@{/vehicle_added}" th:object="${vehicle}" method="post">
                    <div class="form-group">
                        <label for="cars">Customer ID :</label>
	                         <select class="form-select form-select-lg mb-3" th:field="*{customer.customer_id}">
	                         <option th:each="vehicles : ${vehicles}" th:text="${vehicles.vehicle_id}" th:value="${vehicles.vehicle_id}"></option>
	                         </select>
                      </div>

                      
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
               				
               				</div>
               			
               			</div>

               </div>

           </div>
       </div>


</body>
</html>